tracker-ops:
  host: 192.168.0.132
  truenas:
    url: https://192.168.0.184
    api-key: /sensitive/trueNas
  plex:
    url: http://192.168.0.184:32400
    api-key: /sensitive/plex
  deluge:
    url: 192.168.0.184:18112
    folders:
      root: /Downloads
      download: /Downloads/running
      done: /Downloads/done
      show: /Downloads/Show
      film: /Downloads/Film
    stats:
      follow:
        resume-on-startup: true
        duration: 3d
        datapoints-per-download: '{ "1d": 1000, "2d": 800, "3d": 600, "10d": 400, "30d": 200 }'
        initial-delay: 20s
      poll-interval: 5m
  health:
    heartbeat:
      cron: '0 30 * * * *'
    telegram:
      healthcheck:
        cron: '*/30 * * * * *'
      host: "https://api.telegram.org"
      bot-segment: TG_HC_BOT_SEGMENT

server:
  port: 8133

spring:
  kafka:
    template:
      default-topic: stats
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
